html
  head
    title Pokemon API
    link(rel="stylesheet" href="/css/styles.css")
    script(src="/javascripts/indexPugInteraction.js")

  body
    h2 Welcome to the Pokemon API
    div(class="main-container")

      include partials/leftSideDocumentation.pug

      include partials/rightSideDocumentaion.pug
