h2{
  text-align: center;
}

h3{
  margin-bottom: 5px;
}

.delete{
  color:red;
  font-weight: bold;
}

.hidden{
  display: none;
}

.highlighted{
  width: 300px;
  height: 25px;
  position: relative;
  background: lightgray;
  padding-top: 5px;
}

.highlighted:after {
  content: "";
  position: absolute;
  right: -15px;
  bottom: 0;
  width: 0;
  height: 0;
  border-left: 15px solid lightgray;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
}

.get-all, .get-generation, .get-pokemon{
  padding: 0px;
}

.get{
  color: green;
  font-weight: bold;
}

.left-container{
  flex-direction: row;
  margin: 0px 20px;
  padding-top: 30px;
  width: 320px;
}

.main-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.push{
  color: darkorange;
  font-weight: bold;
}

.right-container{
  margin: 0px 20px;
  position: relative;
  width: 320px;
}

.tabs{
  cursor: pointer;
  font-size: 20px;
  margin: 20px;
}
