body{
  margin-top: 150px;
}

h2{
  text-align: center;
}

h3{
  margin-bottom: 5px;
}

.delete{
  color: crimson;
  font-weight: bold;
}

.get{
  color: green;
  font-weight: bold;
}

.hidden{
  display: none;
}

.highlighted{
  background-color: lightgray;
  position: relative;
  width: 300px;
  
}

.highlighted:after {
  bottom: 0;
  border-bottom: 15px solid transparent;
  border-left: 15px solid lightgray;
  border-top: 15px solid transparent;
  content: "";
  position: absolute;
  right: -15px;
  width: 0;
}

.left-container{
  margin: 0px 20px;
  width: 320px;
}

.main-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.post{
  color: darkorange;
  font-weight: bold;
}

.right-container{
  margin: 0px 20px;
  position: relative;
  width: 340px;
}

.spacing{
  margin: 20px 0px;
  padding-left: 20px;
}

.tabs{
  cursor: pointer;
  font-size: 20px;
  margin: 30px 0;
  padding-top: 4px;
  padding-left: 5px;
  padding-bottom: 3px;
}
